<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compra</title>
</head>
<body>
  <form action="/buy" method="post">
    <input type="text" name="name" id="name"><br>
    <input type="number" name="price" id="price"><br>
    <input type="number" name="amount" id="amount"><br>

    <input type="email" name="email" id="email"><br>
    <input type="number" name="id" id="id"><br>
    <button>Comprar</button>
  </form>
  <br>
<form action="/sub" method="post">
  <input type="email" value="" placeholder="email" name="email" id="email"><br>
  <button>Assinar</button>
</form>
</body>
</html>